.tarjetaCarrito{
    height: 20vh;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 30px;
    align-items: center;
}

.tarjetaCarrito img{
    border-radius: 3px;
    height:100px;
}

.bodyTarjeta{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.redCross{
    color: red;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.botoneraCarrito{
    display: flex;
    flex-direction: row;
}