.tarjetaCarrito{
    height: 25vh;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 30px;
    align-items: center;
}

.tarjetaCarrito img{
    /* width: 150px; */
    height:130px;
}

.tarjetaCarrito div.card-body{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.redCross{
    color: red;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.botoneraCarrito{
    display: flex;
    flex-direction: row;
}