.tarjetaCarrito{
    height: 20vh;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 30px;
    align-items: center;
}

.tarjetaCarrito img{
    border-radius: 3px;
    height:100px;
}

.bodyTarjeta{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.redCross{
    color: red;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.botoneraCarrito{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:600px){
    .tarjetaCarrito{
        padding: 5px 10px 5px 2px;
    }

    .tarjetaCarrito img {
        height: 80px;
    }

    .redCross{
        right: 2px;
        top:-5px;
        font-size: 25px;
    }

    .bodyTarjeta{
        padding: 5px 5px 5px 10px;
        text-align: center;
    }

    .bodyTarjeta div.card-title.h5{
        font-size:10px!important;
    }
}