.tarjeta{
    width: '12rem'; 
    display: 'flex'; 
    flex-direction: 'column'; 
    gap: '10px';
    border-radius: 20px;
    padding-top: 20px;
    margin: 5px;
}

.tarjeta img{
    height: 200px;
}

div.categories{
    display: flex;
    gap: 3px;
}