div#basic-navbar-nav{
    align-items: baseline;
}

.dropdown-menu.show{
    display: flex;
    justify-content: center;
}

.dropdown-menu.show ul{
    margin: 0px!important;
    padding:0px!important;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    align-self: center;
}

div.me-auto{
    gap:10px;
}